#status-1{
    margin: 0px 6px;
}
.btn-primary{
    margin:3px 0px;
}
.message{
    color: red;
    text-align: center;
}
.error-message{
    color: red;
}
#weatherWidget .currentDesc {
    color: #ffffff!important;
}
.traffic-chart {
    min-height: 335px;
}
#flotPie1  {
    height: 150px;
}
#flotPie1 td {
    padding:3px;
}
#flotPie1 table {
    top: 20px!important;
    right: -10px!important;
}
.chart-container {
    display: table;
    min-width: 270px ;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}
#flotLine5  {
     height: 105px;
}

#flotBarChart {
    height: 150px;
}
#cellPaiChart{
    height: 160px;
}
.money{
    text-align: right;
}
.link_a:hover{
    text-decoration: underline;
    color: blue;
}
.link_a{
    color: black;
}
.buttonSearch{
    margin-top: 0px;
}
label[for="status-0"] {
    font-weight: 1;
    margin-left: 10px;
} 
label[for="status-1"] {
    font-weight: 1;
    margin-left: 10px;
}
label[for="type-0"] {
    font-weight: 1;
    margin-left: 10px;
} 
label[for="type-1"] {
    font-weight: 1;
    margin-left: 10px;
} 
.required {
    color: red;
}